@import 'vars';

body{
  background-color: $clr-white;
  color: $clr-black;
}
a {
  text-decoration: none;
  color: inherit;
}

.illustration {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.grid-content-full{
  grid-column: 1 / -1;
}