    /*COLORS*/
$clr-black-alpha-50: rgba(0, 0, 0, 0.5);
$clr-black-alpha-60: rgba(0, 0, 0, 0.6);
$clr-black-alpha-87:  rgba(0, 0, 0, 0.87);
$clr-gray: #F2F2F7;
$clr-white: #FFFFFF;
$clr-black: #000000;

    /*GAPS*/
$gap-xs : 12px;
$gap-sm: 16px;
$gap-md: 24px; 
$gap-lg: 32px;
$gap-xl: 48px;
$gap-xxl: 62px;

    /*WIDTH*/
$width-sm: 600px;
$width-md: 1020px;
$width-full: 100%;